force-app/main/default/flows/Create_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Game</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Game</name>
        <label>Create Game</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Create_Player</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opponent</name>
        <label>Create Opponent</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Player</targetReference>
        </connector>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opponent__c</field>
            <value>
                <elementReference>Create_Player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>createGameRequest.opponentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Player</name>
        <label>Create Player</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Opponent</targetReference>
        </connector>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Create_Game</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>createGameRequest.userId</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Player_Move</name>
        <label>Create Player Move</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Move__c</field>
            <value>
                <elementReference>createGameRequest.moveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Player__c</field>
            <value>
                <elementReference>Create_Player</elementReference>
            </value>
        </inputAssignments>
        <object>PlayerMove__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Player</name>
        <label>Update Player</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Player_Move</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Player</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opponent__c</field>
            <value>
                <elementReference>Create_Opponent</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createGameRequest</name>
        <apexClass>CreateGameRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
